 body {
  font-family: Roboto;
 }

 div {
  display: block;
 }

header {
  padding: 30px;
  text-align: center;
  background: darkgray;
  color: black;
  font-size: 20px;
}

aside {
  list-style-type:none;
  margin: 0;
  padding: 0;
  width: 20%;
  background-color: #f1f1f1;
  height: 100%;
  position: fixed; 
  overflow: auto;
}

main {
  margin-left: 25%;
  padding: 1 16;
  height: 1000;
}